#name: Selenium Allure Tests
#
#on: [push]
#
#jobs:
#  test:
#    runs-on: ubuntu-latest
#
#    steps:
#      - name: Checkout code
#        uses: actions/checkout@v3
#
#      - name: Set up Python
#        uses: actions/setup-python@v4
#        with:
#          python-version: '3.13'
#
#      - name: Install dependencies
#        run: |
#          pip install -r requirements.txt
#          # Установка Selenium, pytest, allure-pytest
#
#
#      - name: Install Chrome
#        uses: browser-actions/setup-chrome@v1
#
#      - name: Install Chromedriver
#        uses: nanasess/setup-chromedriver@v2
#
#      - name: Run Tests
#        run: |
#          pytest --alluredir=allure-results
#        continue-on-error: true # Чтобы сгенерировать отчет даже при падении тестов f
#
#      - name: Get Allure history
#        uses: actions/checkout@v3
#        if: always()
#        continue-on-error: true
#        with:
#          ref: gh-pages
#          path: gh-pages
#
#      - name: Allure Report
#        uses: simple-elf/allure-report-action@master
#        if: always()
#        with:
#          allure_results: allure-results
#          gh_pages: gh-pages
#          allure_report: allure-report
#          allure_history: allure-history
#
#      - name: Deploy report to Github Pages
#        if: always()
#        uses: peaceiris/actions-gh-pages@v3
#        with:
#          github_token: ${{ secrets.GITHUB_TOKEN }}
#          publish_branch: gh-pages
#          publish_dir: allure-history


name: Selenium Python Tests with Allure

on: [push]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: |
          pip install pytest selenium allure-pytest
          # Установите webdriver, например, webdriver-manager
          pip install webdriver-manager

      - name: Run Selenium Tests
        run: |
          # Запуск тестов и генерация результатов в папку allure-results
          pytest --alluredir=allure-results

      - name: Generate Allure Report
        if: always() # Запускать даже если тесты упали !
        uses: simple-elf/allure-report-action@master
        with:
          allure_results: 'allure-results'
          allure_report: 'allure-report'
          gh_pages: 'gh-pages' # Опционально: для публикации в GH Pages

      - name: Upload Allure Report
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: allure-report
          path: allure-report
          retention-days: 7